/* здесь используйте глобальные переменные */

$black: #3d455f;
$black-10: rgb(61, 69, 95, 0.1);
$black-63: rgb(61, 69, 95, 0.63);
$dark-blue: #3b55a9;
$blue: #668bd4;
$light-blue: #6cafc9;
$teal: #6dc2ab;
$green: #94b478;
$orange: #d3aa59;
$pinkish-red: #df9881;
$pink: #ce94b3;
$lilac: #887fbe;
$light-lilac: #bec7e7;
$shadow: rgb(190, 199, 231, 0.23);
$dark-lilac: #949abc;
$gray: #cdd2e4;
$light-gray: #e6eaf8;
$white: #ffffff;

/* Veiwports */

$desktop-width: 1400px;
