/* здесь используйте глобальные переменные */

$black: #3d455f;
$dark-blue: #3b55a9;
$blue: #668bd4;
$light-blue: #6cafc9;
$teal: #6dc2ab;
$green: #94b478;
$orange: #d3aa59;
$pinkish-red: #df9881;
$pink: #ce94b3;
$lilac: #887fbe;
$light-lilac: #bec7e7;
$white: #ffffff;

/* Veiwports */

$desktop-width: 1400px;
