.accordion__header {
  font-weight: 500;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.accordion__button {
  width: 41px;
  height: 41px;
  border: none;
  border-radius: 50%;
}

.accordion__section:nth-of-type(4n + 1) .accordion__button {
  background-color: $blue;
}

.accordion__section:nth-of-type(4n + 2) .accordion__button {
  background-color: $light-blue;
}

.accordion__section:nth-of-type(4n + 3) .accordion__button {
  background-color: $teal;
}

.accordion__section:nth-of-type(4n + 4) .accordion__button {
  background-color: $green;
}
