.admission__header {
  font-size: 32px;

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.admission__time,
.admission__foreigners {
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.admission__list {
  counter-reset: li;
}

.admission__item {
  font-weight: 400;
  // color: $white;
  counter-increment: li;
}

.admission__item::before {
  content: "#0" counter(li);
}

.admission__compling,
.admission__questions {
  font-weight: 400;
  // color: $white;
}

.admission__contacts {
  font-size: 20px;
  // color: $white;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}
