.arrow-accordion__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    position: relative;
    // min-height: 737px;
  }
}

.arrow-accordion__item {
  @media (min-width: $desktop-width) {
    width: 412px;
  }
}

.arrow-accordion__item:not(:last-child) {
  padding-bottom: 19px;

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;
  }
}

.arrow-accordion__name {
  position: relative;
  font-size: 20px;
  color: $white;
  min-height: 112px;
  padding: 20px 27px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 412px;
    padding: 20px 25px;
  }
}

.arrow-accordion__item--current .arrow-accordion__name {
  margin-bottom: 30px;
  cursor: auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.arrow-accordion__item--first .arrow-accordion__name {
  background-color: $blue;
}

.arrow-accordion__item--second .arrow-accordion__name {
  background-color: $light-blue;
}

.arrow-accordion__item--third .arrow-accordion__name {
  background-color: $teal;
}

.arrow-accordion__triangle {
  position: absolute;
  right: calc(50% - 22px);
  bottom: 0;
  transition: bottom 0.4s ease-in-out;

  @media (min-width: $desktop-width) {
    display: block;
    transform: rotate(-90deg);
    bottom: calc(50% - 9px);
    right: -33px;
    fill: $gray;
  }
}

.arrow-accordion__item--current .arrow-accordion__triangle {
  bottom: -18px;

  @media (min-width: $desktop-width) {
    bottom: calc(50% - 9px);
  }
}

.arrow-accordion__item:nth-of-type(4n + 1).arrow-accordion__item--current
  .arrow-accordion__triangle {
  fill: $blue;
}

.arrow-accordion__item:nth-of-type(4n + 2).arrow-accordion__item--current
  .arrow-accordion__triangle {
  fill: $light-blue;
}

.arrow-accordion__item:nth-of-type(4n + 3).arrow-accordion__item--current
  .arrow-accordion__triangle {
  fill: $teal;
}

.arrow-accordion__item:nth-of-type(4n + 4).arrow-accordion__item--current
  .arrow-accordion__triangle {
  fill: $green;
}

.arrow-accordion__description {
  line-height: 1.5;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 $shadow;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 441px;
    right: 0;
    top: 0;
    transition: none;
  }
}

.arrow-accordion__item--current .arrow-accordion__description {
  max-height: 654px;

  @media (min-width: $desktop-width) {
    max-height: 730px;
    transition: max-height 0.4s ease-in-out;
  }
}

.arrow-accordion__item--current .arrow-accordion__description--second {
  @media (min-width: $desktop-width) {
    max-height: 829px;
  }
}

.arrow-accordion__item:nth-of-type(4n + 1) .arrow-accordion__description {
  background-color: $blue;
}

.arrow-accordion__item:nth-of-type(4n + 2) .arrow-accordion__description {
  background-color: $light-blue;
}

.arrow-accordion__item:nth-of-type(4n + 3) .arrow-accordion__description {
  background-color: $teal;
}

.arrow-accordion__item:nth-of-type(4n + 4) .arrow-accordion__description {
  background-color: $green;
}

.arrow-accordion__description-inner {
  max-height: 654px;
  overflow-y: auto;
  padding: 20px 30px 50px 18px;
  margin-top: 12px;
  background-color: $white;
  border-radius: 15px;

  @media (min-width: $desktop-width) {
    max-height: 734px;
    padding: 30px 40px 60px;
    margin-top: 15px;
  }
}

.arrow-accordion__description-inner--second {
  @media (min-width: $desktop-width) {
    max-height: 814px;
  }
}

.arrow-accordion__description-inner p {
  margin: 0;
}

.arrow-accordion__description-inner p:not(:last-of-type) {
  margin-bottom: 16px;
}

.arrow-accordion__subject-list {
  list-style: none;
  padding: 18px 0 71px 20px;
  background-image: url(../../images/separator.svg);
  background-repeat: no-repeat;
  background-position: center bottom 33px;

  @media (min-width: $desktop-width) {
    padding-top: 8px;
  }
}

.arrow-accordion__subject-item {
  position: relative;
  line-height: 1.1;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: -20px;
    top: 3px;
    border-radius: 50%;
    background-color: $blue;
  }

  @media (min-width: $desktop-width) {
    line-height: 2;

    &::before {
      top: 10px;
    }
  }
}

.arrow-accordion__subject-item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.arrow-accordion__condition-list {
  list-style: none;
  padding-left: 40px;
}

.arrow-accordion__condition-item {
  position: relative;
  line-height: 1.1;

  @media (min-width: $desktop-width) {
    line-height: 2.5;
  }
}

.arrow-accordion__condition-item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.arrow-accordion__condition-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  top: -3px;
  left: -40px;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $desktop-width) {
    top: 10px;
  }
}

.arrow-accordion__condition-item--hours::before {
  background-image: url("../../images/conditions/hours.svg");
}

.arrow-accordion__condition-item--mode::before {
  background-image: url("../../images/conditions/mode.svg");
}

.arrow-accordion__condition-item--fee::before {
  background-image: url("../../images/conditions/fee.svg");
}

.arrow-accordion__condition-item--start::before {
  background-image: url("../../images/conditions/start.svg");
}

.arrow-accordion__condition-item--deadline::before {
  background-image: url("../../images/conditions/deadline.svg");
}

.arrow-accordion__description-header {
  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.arrow-accordion__information-list {
  list-style: none;
  padding: 20px 0 88px 20px;
  background-image: url(../../images/separator.svg);
  background-repeat: no-repeat;
  background-position: center bottom 40px;

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}

.arrow-accordion__infomation-item {
  position: relative;
  line-height: 1.1;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: -20px;
    top: 3px;
    border-radius: 50%;
    background-color: $blue;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.5;

    &::before {
      top: 8px;
    }
  }
}

.arrow-accordion__infomation-item:not(:last-child) {
  margin-bottom: 16px;
}

.arrow-accordion__submission-list {
  padding: 16px 0 0 18px;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.arrow-accordion__submission-item {
  @media (min-width: $desktop-width) {
    line-height: 1.5;
  }
}

.arrow-accordion__submission-item:not(:last-child) {
  margin-bottom: 16px;
}

.arrow-accordion__submission-item::marker {
  font-weight: 700;
  color: $blue;
}
