.foreigners__header {
  font-size: 32px;

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.foreigners__note {
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.foreigners__item > p {
  font-size: 20px;
  // color: $white;
}

.foreigners__description {
  line-height: 1.5;
  font-weight: 500;
}

.foreigners__subject-item {
  line-height: 1;
}

.foreigners__condition-item {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
