.main-nav__shortcut-logo {
  @media (min-width: $desktop-width) {
    fill: $black;
  }
}

.main-nav__cupture-logo {
  font-size: 13px;
  font-weight: 500;
  color: $white;

  @media (min-width: $desktop-width) {
    font-size: 15px;
    color: $black;
  }
}

.main-nav__link {
  font-weight: 500;

  &--current {
    color: $dark-blue;
  }
}
