.page-body {
  font-family: "Golos", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: $black;
  box-sizing: border-box;
  width: 480px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1400px;
  }
}
