.page-main {
  position: relative;
}

.page-main__map-wrapper {
  position: relative;
  padding: 0 16px;
  margin-bottom: -264px;

  @media (min-width: $desktop-width) {
    padding: 0 52px;
    margin-bottom: -286px;
  }
}

.page-main__map {
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 22px 5px $shadow;

  @media (min-width: $desktop-width) {
    height: 586px;
  }
}

.page-main__map-marker {
  position: relative;
  width: 32px;
  height: 42px;
  background-image: url("../../images/marker.svg");
  transform: translate(-50%, -50%);
}

.page-main__overlay {
  padding: 264px 0 120px;

  background-color: $light-gray;

  @media (min-width: $desktop-width) {
    padding: 286px 0 98px;
  }
}

.page-main__button-up {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    right: calc(50% - 648px);
    bottom: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    font-size: 10px;
    font-weight: 400;
    color: $white;
    width: 51px;
    height: 51px;
    border: none;
    border-radius: 50%;
    background-color: $black;
  }
}

.page-main__button-up-icon {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

@media (hover: hover) {
  .page-main__button-up:hover .page-main__button-up-icon {
    transform: translateY(-5px) rotate(90deg);
  }
}
