.picture-slider__description {
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.picture-slider__item--current {
  .picture-slider__description {
    @media (min-width: $desktop-width) {
      font-size: 20px;
    }
  }
}

.picture-slider__arrow-right .picture-slider__arrow-icon {
  transform: rotate(180deg);

  @media (min-width: $desktop-width) {
    fill: $blue;
  }
}
