.programs {
  padding-bottom: 50px;
}

.programs__header {
  font-size: 32px;
  margin: 0 0 30px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin: 0 0 50px;
  }
}

.programs__container {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.programs__controls {
  // position: relative;
  width: 364px;
  height: 95px;
  margin-bottom: -15px;

  // @media (min-width: $desktop-width) {
  //   width: 1299px;
  // }
}

.programs__name-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 364px;
  height: 100%;
  // width: 300%;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // transform: translate(-364px);

  // @media (min-width: $desktop-width) {
  //   width: 100%;
  // }
}

.programs__name-item {
  width: 365px;

  padding-top: 8px;
  border-radius: 15px 15px 0 0;
}

.programs__name-item--bachelors {
  background-color: $blue;
}

.programs__name-item--masters {
  background-color: $light-blue;
}

.programs__name-item--postgraduate {
  background-color: $teal;
}

// .programs__name-item:nth-of-type(4n + 4) {
//   background-color: $green;
// }

.programs__name-inner {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  height: 100%;
  padding: 16px 27px 21px;
  border: none;
  border-radius: 15px 15px 0 0;
  background-color: $light-gray;

  @media (min-width: $desktop-width) {
    cursor: pointer;
  }
}

// .programs__pagination-item--current .programs__pagination-inner {
//   background-color: $light-gray;
// }

.programs__arrow {
  margin-top: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.programs__arrow--right .programs__arrow-icon {
  transform: rotate(180deg);
}

.programs__overlay {
  background-color: $light-gray;
}

.programs__accordion {
  width: 480px;

  // overflow: hidden;

  @media (min-width: $desktop-width) {
    width: 1400px;
  }
}

.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 480px;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // transform: translate(-480px);
  // transition: transform 0.7s ease-in-out;
}

// .programs__list--masters {
//   transform: translate(-480px);

//   @media (min-width: $desktop-width) {
//     transform: translate(-1400px);
//   }
// }

// .programs__list--postgraduate {
//   transform: translate(-960px);

//   @media (min-width: $desktop-width) {
//     transform: translate(-2800px);
//   }
// }

.programs__item {
  font-size: 20px;
  // width: 447px;

  @media (min-width: $desktop-width) {
    width: 1400px;
  }
}

// .programs__item--current .plus-accordion__list {
//   display: block;
// }
