.programs {
  padding-bottom: 50px;

  @media (min-width: $desktop-width) {
    padding-bottom: 100px;
  }
}

.programs__header {
  font-size: 32px;
  padding: 0 52px;
  margin: 0 0 30px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin: 0 0 50px;
  }
}

.programs__controls {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    padding: 0 52px;
  }
}

.programs__name {
  width: 364px;
  min-height: 69px;

  @media (min-width: $desktop-width) {
    width: 1299px;
    min-height: 86px;
  }
}

.programs__name-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.programs__name-item {
  border-radius: 15px 15px 0 0;

  @media (min-width: $desktop-width) {
    width: 433px;
  }
}

.programs__name-item--bachelors {
  background-color: $blue;

  @media (min-width: $desktop-width) {
    background-color: $white;

    &.programs__name-item--current {
      background-color: $blue;
    }
  }
}

.programs__name-item--masters {
  background-color: $light-blue;

  @media (min-width: $desktop-width) {
    background-color: $white;

    &.programs__name-item--current {
      background-color: $light-blue;
    }
  }
}

.programs__name-item--postgraduate {
  background-color: $teal;

  @media (min-width: $desktop-width) {
    background-color: $white;

    &.programs__name-item--current {
      background-color: $teal;
    }
  }
}

.programs__name-inner {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  height: calc(100% - 8px);
  padding: 16px 27px 21px;
  margin-top: 8px;
  border-radius: 15px 15px 0 0;
  background-color: $light-gray;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    height: calc(100% - 10px);
    padding: 29px 27px 19px;
    margin-top: 10px;
    background-color: $white;
    cursor: pointer;

    &--masters {
      padding-left: 80px;
    }
  }
}

.programs__name-item--current .programs__name-inner {
  background-color: $light-gray;
}

.programs__arrow {
  margin-top: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.programs__arrow--right .programs__arrow-icon {
  transform: rotate(180deg);
}

.programs__overlay {
  background-color: $light-gray;
}

.programs__accordion {
  width: 480px;

  @media (min-width: $desktop-width) {
    width: 1400px;
    // overflow: hidden;
  }
}

.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  // width: 480px;

  @media (min-width: $desktop-width) {
    // width: 300%;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // transition: transform 0.5s ease-in-out;
  }
}

// .programs__list--masters {
//   @media (min-width: $desktop-width) {
//     transform: translateX(-1400px);
//   }
// }

// .programs__list--postgraduate {
//   @media (min-width: $desktop-width) {
//     transform: translateX(-2800px);
//   }
// }

// .programs__item {
//   font-size: 20px;

//   @media (min-width: $desktop-width) {
//     width: 1400px;
//   }
// }
