.programs__header {
  font-size: 32px;

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.programs__list {
  // position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
}

.programs__item {
  font-size: 20px;
}

.programs__item--current .plus-accordion__list {
  display: block;
}

.programs__arrow {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.programs__arrow--right .programs__arrow-icon {
  transform: rotate(180deg);
}
