.region {
  padding-bottom: 54px;
}

.region__invitation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  padding: 0 16px 32px;

  @media (min-width: $desktop-width) {
    gap: 54px;
    padding: 0 52px 60px;
  }
}

.region__slogan {
  font-family: "FiraSans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  color: $white;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 0 $light-lilac, -2px 2px 0 $light-lilac,
    -2px -2px 0 $light-lilac, 2px -2px 0 $light-lilac;
  text-transform: uppercase;
}

.region__slogan:nth-of-type(2n + 1) {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.region__container {
  position: relative;
  width: 448px;
  padding-top: 12px;
  margin: 0 auto -266px;
  border-radius: 15px;
  background-color: $gray;
  box-shadow: 0 4px 4px 0 $shadow;
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 1296px;
    padding-top: 15px;
    margin: 0 auto -174px;
  }
}

.region__inner {
  padding-bottom: 40px;
  border-radius: 15px;
  background-color: $white;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 52px;
    padding-bottom: 0;
  }
}

.region__picture {
  display: block;
  border-radius: 15px;
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    width: 636px;
    height: 358px;
    margin: 0;
  }
}

.text-slider-container__slider {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    padding: 45px 0 63px 27px;
  }
}

.region__overlay {
  padding: 296px 16px 50px;
  background-color: $black;

  @media (min-width: $desktop-width) {
    padding: 234px 52px 90px;
  }
}
