.residence__header {
  font-size: 40px;
}

.residence__item > p {
  font-size: 20px;
  // color: $white;
}

.residence__triangle {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.residence__item--letter.residence__item--current .residence__triangle {
  display: block;
  fill: $blue;
}

.residence__item--registration.residence__item--current .residence__triangle {
  display: block;
  fill: $light-blue;
}

.residence__item--visa.residence__item--current .residence__triangle {
  display: block;
  fill: $teal;
}

.residence__description {
  line-height: 1.5;
  font-weight: 500;
}

.residence__description-header {
  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.residence__information-list {
  list-style: none;
  padding-left: 20px;
}

.residence__infomation-item {
  line-height: 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: -20px;
    top: calc(50% - 5px);
    border-radius: 50%;
    background-color: $blue;
  }
}

.residence__submission-list {
  display: none;
  padding-top: 48px;
  background-image: url(../../images/separator.svg);
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.residence__submission-item::marker {
  font-weight: 700;
  color: $blue;
}
