.slider__info {
  font-weight: 400;
  color: $white;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.slider__button-admission,
.slider__button-partnership {
  color: $white;
}

.slider__arrow-right .slider__arrow-icon {
  transform: rotate(180deg);

  @media (min-width: $desktop-width) {
    fill: $light-blue;
  }
}
