.text-slider {
  position: relative;
  width: 412px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 469px;
    padding: 0 0 0 0px;
  }
}

.text-slider-container {
  @media (min-width: $desktop-width) {
    padding: 45px 0 63px 27px;
    display: flex;
    gap: 27px;
  }
}

.text-slider-container__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 20px;

  @media (min-width: $desktop-width) {
    padding: 7px 0 0;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 17px;
  }
}

.text-slider-container__slides {
  color: $blue;
}

.text-slider-container__slide {
  line-height: 25px;
  letter-spacing: 0.17em;

  &--current {
    color: $gray;
  }
}

.text-slider-container__arrows {
  display: flex;
  gap: 15px;
}

.text-slider-container__arrow {
  // position: absolute;
  // top: 55px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    display: none;
  }
}

// .text-slider-container__arrow--left {
//   left: 327px;

//   @media (min-width: $desktop-width) {
//     left: 0;
//   }
// }

// .text-slider-container__arrow--right {
//   left: 377px;
// }

.text-slider-container__arrow .text-slider-container__arrow-icon {
  width: 8px;
  height: 15px;
}

.text-slider-container__arrow--right .text-slider-container__arrow-icon {
  transform: rotate(180deg);
}

.text-slider__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    width: 469px;
  }
}

.text-slider__header {
  font-size: 32px;
  margin: 0 0 15px;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin-bottom: 12px;
  }
}

.text-slider__description {
  font-weight: 400;
}

.text-slider__description p {
  margin: 0;
}
