.text-slider {
  width: 412px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 469px;
  }
}

.text-slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-slider__header {
  font-size: 32px;
  margin: 0 0 15px;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin-bottom: 12px;
  }
}

.text-slider__description {
  font-weight: 400;
}

.text-slider__description p {
  margin: 0;
}

.text-slider__description p:not(:last-child) {
  margin-bottom: 18px;
}
